.head{
    margin-top: 5%;
}

.bi{
    cursor: pointer;
    top: 2%;
    left: 2%;
    position: absolute;
}

.head h1{
    text-align: center;
}

.cards{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards .card{
    transition: 0.7s;
}

.cards .card:hover{
    transform: scale(1.05);
    box-shadow: 5px 10px 10px #3f7efd;
    background-color: #75A4FF;
}