.head{
    margin-top: 5%;
}

.bi{
    cursor: pointer;
    top: 2%;
    left: 2%;
    position: absolute;
}

.head h1{
    text-align: center;
}

.cards{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards .card{
    width: 18rem;
    transition: 0.7s;
}

.cards .card:hover{
    transform: scale(1.05);
    box-shadow: 5px 10px 10px #3f7efd;
    background-color: #75A4FF;
}

@media only screen and (max-width: 768px) { 
    .cards{
        flex-direction: column;
        margin-top: 50px;

    }

    .cards .card{
        margin-bottom: 50px;
        height: 27rem;
        width: 16rem
    }

}