.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header h1{
    cursor: pointer;
    font-weight: 700;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 50%;
    background-color: #91b4fa;
    border: 2px solid #75A4FF;
    border-radius: 14px;
}

.body .combain{
    display: flex;
    justify-content: space-between;
}

.body .combain input{
    width: 50%;
}

.alert{
    position: fixed;
    top: 0;
}